[submodule "lib/jquery"]
	path = lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lib/jquery-cookie"]
	path = lib/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "lib/socket.io"]
	path = lib/socket.io
	url = git://github.com/LearnBoost/socket.io.git
[submodule "lib/socket.io-client"]
	path = lib/socket.io-client
	url = git://github.com/LearnBoost/socket.io-client.git
