#ircchat{
    width: 800px;
    height: 500px;
    margin-bottom: 10px;
    position:relative;
    margin: 0 auto;
    border: 1px solid black;
}

#ircchat .channels {
    margin:0;
    padding:0;
}

#ircchat .channels .channel {
    float: left;
    list-style:none;
}

/* Hide all elements in the channel list */
#ircchat .channels .channel > * {
    display:none;
}
/* and the current tab */
#ircchat .channels .channel.current > * {
    display:block;
}
/* except the titles */
#ircchat .channels .channel .title {
    display:inline;
    height: 20px;
    padding:0 5px;
    margin:0;
    border: 1px solid black;
}

#ircchat .channels .channel .messages, #ircchat .channels .channel .users {
    height: 460px;
    overflow-y: auto;
    margin:0;
    padding:0;
    position: absolute;
}

#ircchat .channels .channel .messages {
    width: 600px;
    left: 0;
}

#ircchat .channels .channel .messages:last-child {
    width: 800px;
}

#ircchat .channels .channel .messages li {
    margin: 2px 0;
}

#ircchat .channels .channel .messages .chat-message .user{
    font-weight: bold;
    padding:0 5px;
}

#ircchat .channels .channel .users {
    width: 200px;
    left: 600px;
}

#ircchat .input-zone {
    padding-top: 480px;
    height: 20px;
}