/***
 * APE JSF Setup
 */
// The address to the APE_JSF directory
APE.Config.baseUrl = 'http://address.to/APE_JSF';
APE.Config.domain = 'address.to'; 
APE.Config.server = 'ape.address.to:6969'; //APE server URL

APE.Config.scripts = [APE.Config.baseUrl + '/Build/uncompressed/apeCoreSession.js'];

APE.Config.transport = 2; // Cross domain requires JSONP, this is not ideal
