#ircchat{
    display: none;
    height: 2em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid black;
    background-color: white;
}

#ircchat * {
    margin: 0;
    padding: 0;
}

#ircchat form.login {
    display:none;
}

#ircchat form.login fieldset {
    border:none;
}

#ircchat .channels {
    float: left;
}

#ircchat .menu {
    float: left;
}

#ircchat .menu h2 {

}

#ircchat .menu .options {
    background-color: white;
    display: none;
    position:absolute;
    bottom: 2em;
}

#ircchat .menu:hover .options {
    display: block;
}

#ircchat .channels .channel {
    float:left;
}

#ircchat li {
    list-style:none;
}

#ircchat .channels .channel .title {
    height: 2em;
    padding:0 5px;
    border: 1px solid black;
}

#ircchat .close:after {
    font-weight: normal;
    content: "x";
}

#ircchat .channels .channel .chat-area {
    position:absolute;
    bottom:2em;
    right:1px;
    background-color:white;
    width:400px;
    height:200px;
    border: 1px solid black;
}

#ircchat .channels .channel .chat-area .messages {
    width: 250px;
    height: 160px;
    float:left;
    overflow: auto;
}

#ircchat .chat-message {
    margin-left: 2px;
}

#ircchat .chat-message .user {
    margin-right: 3px;
    font-weight: bold;
}
#ircchat .chat-message .user:after {
    content: ":";
}

#ircchat .channels .channel .chat-area .users {
    width: 150px;
    height: 160px;
    float:left;
    overflow: auto;
}

#ircchat .input-zone {
    clear:both;
    padding: 2px;
}

/* Hide all elements in the channel list */
#ircchat .channels .channel > * {
    display:none;
}
/* except the current tab */
#ircchat .channels .channel.current > * {
    display:block;
}
/* and the titles */
#ircchat .channels .channel .title {
    display:inline;
}