#ircchat * {
    margin: 0;
    padding: 0;
}

#ircchat {
    display: none;
    height: 1.5em;
    position: fixed;
    bottom: 3px;
    right: 3px;
    margin: 0 auto;
    padding: 0 1em;
    border: 1px solid #5A7F97;
    -moz-border-radius:0.75em;
    -webkit-border-radius:0.75em;
    -opera-border-radius:0.75em;
    -khtml-border-radius:0.75em;
    border-radius:0.75em;
    background-color: #7192A8;
    color: #4E4E4E;
}

#ircchat form.login {
    display:none;
}

#ircchat form.login input {
    border-color: black;
}

#ircchat form.login fieldset {
    border:none;
}

#ircchat .channels {
    float: left;
}

#ircchat .menu {
    float: left;
}

#ircchat .menu h2 {
    font-size: 1em;
    vertical-align: middle;
}

#ircchat .menu .options {
    display: none;
    position:absolute;
    bottom: 1.5em;
    background-color: #7192A8;
}

#ircchat .menu:hover .options {
    display: block;
}

#ircchat .channels .channel {
    float:left;
    position:relative;
    border: 1px solid #5A7F97;
    margin-left: 10px;
    width: 13em;
    text-align: center;
    -moz-border-radius:0.75em;
    -webkit-border-radius:0.75em;
    -opera-border-radius:0.75em;
    -khtml-border-radius:0.75em;
    border-radius:0.75em;
    background-color: #ffffff;
}

#ircchat .channels .channel.alert {
    background-color: #FF6600;
}

#ircchat li {
    list-style:none;
}

#ircchat .channels .channel .title {
    font-size:1em;
    vertical-align: middle;
    padding:0 5px;
}

#ircchat .close:after {
    font-weight: normal;
    content: "X";
}

#ircchat .channels .channel .chat-area {
    position:absolute;
    bottom:1.5em;
    right:-1px;
    width:13em;
    height:20em;
    border: 1px solid #5A7F97;
    -moz-border-radius: 0.75em 0.75em 0 0;
    -webkit-border-radius:0.75em 0.75em 0 0;
    -opera-border-radius:0.75em 0.75em 0 0;
    -khtml-border-radius:0.75em 0.75em 0 0;
    border-radius:0.75em 0.75em 0 0;
    background-color:#7192A8;
}

#ircchat .channels .channel .chat-area .messages {
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align:left;
    height:90%;
}

#ircchat .chat-message, #ircchat .action-message {
    margin-left: 2px;
}

#ircchat .chat-message .user, #ircchat .action-message .user {
    margin-right: 3px;
    font-weight: bold;
}
#ircchat .chat-message .user:after {
    content: ":";
}
#ircchat .action-message .user:before {
    content: "***";
}

#ircchat .channels .channel .chat-area .users {
    display: none;
}

/* Userlist toogle */
#ircchat .channels .channel .userlist-switch:before {
    content: "X";
}

#ircchat .channels .channel.userlist .chat-area .users {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    text-align:left;
    height:90%;
}

#ircchat .channels .channel.userlist .chat-area .messages {
    display: none;
}

#ircchat .input-zone {
    clear:both;
    height:10%;
    margin:auto;
}

/* Hide all elements in the channel list */
#ircchat .channels .channel .chat-area {
    display:none;
}
/* except the current tab */
#ircchat .channels .channel.current .chat-area {
    display:block;
}
/* and the titles */
#ircchat .channels .channel .title {
    display:inline;
}