#ircchat * {
    margin: 0;
    padding: 0;
}

#ircchat {
    display: none;
    height: 1.5em;
    position: fixed;
    bottom: 3px;
    right: 3px;
    margin: 0 auto;
    padding: 0 1em;
    border: 1px solid black;
    -moz-border-radius:0.75em;
    -webkit-border-radius:0.75em;
    -opera-border-radius:0.75em;
    -khtml-border-radius:0.75em;
    border-radius:0.75em;
    background-color: black;
    color: grey;
}

#ircchat form.login {
    display:none;
}

#ircchat form.login input {
    border-color: black;
}

#ircchat form.login fieldset {
    border:none;
}

#ircchat .channels {
    float: left;
}

#ircchat .menu {
    float: left;
}

#ircchat .menu h2 {
    font-size: 1.5em;
}

#ircchat .menu .options {
    display: none;
    position:absolute;
    bottom: 1.5em;
}

#ircchat .menu:hover .options {
    display: block;
}

#ircchat .channels .channel {
    float:left;
}

#ircchat li {
    list-style:none;
}

#ircchat .channels .channel .title {
    font-size:1em;
    vertical-align: middle;
    padding:0 5px;
}

#ircchat .close:after {
    font-weight: normal;
    content: "X";
}

#ircchat .channels .channel .chat-area {
    position:absolute;
    bottom:2em;
    right:1px;
    width:400px;
    height:200px;
    border: 1px solid black;
    background-color:black;
}

#ircchat .channels .channel .chat-area .messages {
    width: 250px;
    height: 160px;
    float:left;
    overflow: auto;
}

#ircchat .chat-message, #ircchat .action-message {
    margin-left: 2px;
}

#ircchat .chat-message .user, #ircchat .action-message .user {
    margin-right: 3px;
    font-weight: bold;
}
#ircchat .chat-message .user:after {
    content: ":";
}
#ircchat .action-message .user:before {
    content: "***";
};

#ircchat .channels .channel .chat-area .users {
    width: 150px;
    height: 160px;
    float:left;
    overflow: auto;
}

#ircchat .input-zone {
    clear:both;
    padding: 2px;
}

/* Hide all elements in the channel list */
#ircchat .channels .channel > * {
    display:none;
}
/* except the current tab */
#ircchat .channels .channel.current > * {
    display:block;
}
/* and the titles */
#ircchat .channels .channel .title {
    display:inline;
}